body {
  background: #f3f3ea;
}
div.page {
  height: auto;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas:
    "header header header"
    "image image image"
    "s1 s2 s3"
    "s4 s5 s6"
    "s7 s8 s9";
}

.info {
  position: relative;
  font-family: Arial;
  margin: 10px;
  text-align: center;
  font-size: 35px;
  grid-area: header;
}

#title {
  font-size: 40px;
  font-family: Arial;
}

#rest2 {
  font-size: 30px;
  font-family: Arial;
}

#text div {
  border: 1px dashed gray;
  display: inline-block;
  margin: 0;
}

#text {
  width: 614px;
  height: 614px;

  margin: auto;
}

#images {
  text-align: center;
  width: 100%;
  grid-area: image;
  margin-bottom: -10em;
}

img {
  height: 200px;
  width: 200px;
}

#piece4,
#piece5,
#piece6,
#piece7,
#piece8,
#piece9,
#piece10,
#piece11,
#piece12 {
  height: 200px;
  width: 200px;

  display: inline-block;
}

.s1 {
  grid-area: s1;
}

.s2 {
  grid-area: s2;
}

.s3 {
  grid-area: s3;
}

.s4 {
  grid-area: s4;
}
.s5 {
  grid-area: s5;
}
.s6 {
  grid-area: s6;
}

.s7 {
  grid-area: s7;
}
.s8 {
  grid-area: s8;
}
.s9 {
  grid-area: s9;
}
